@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* DayPicker */

.rdp {
  color: white;
}

.rdp-chevron {
  fill: #f68633 !important;
}

.rdp-day_button {
  color: white !important;
}

.rdp-day_selected .rdp-day_button {
  background: #f68633 !important;
  color: black !important;
}

.rdp-day_today .rdp-day_button {
  color: #f68633 !important;
  font-weight: 700;
}

.rdp-caption_label {
  color: white !important;
}

.rdp-weekday {
  color: rgba(255, 255, 255, 0.6) !important;
}